.song-of-the-week {
    position: relative;
    float: left;
    margin: auto;
    width: 50%;
    top: 5vh;
}

.song-of-the-week .play-latest button {
    margin-bottom: 1em;
}

.song-of-the-week .soundcloud-embedded-playlist {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.song-of-the-week .soundcloud-embedded-playlist .title {
    color: #cccccc;
    text-decoration: none;
}

.song-of-the-week iframe.soundcloud-playlist {
    border: none;
}
